<div class="sign" id="change-password">

    <div class="modal-content">
        <div class="modal-body">
            <app-loading *ngIf="!loaded"></app-loading>
            <form [formGroup]="form" *ngIf="loaded">
                <div class="tab-g">
                    <h3 class="text-center text-semibold">Change your password</h3>
                    <div class="row mtxlg">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="text-semibold mlmd">Current password</label>
                                <input type="password" class="form-control input-md" formControlName="current_password" placeholder="Password" [ngClass]="{'has-error':form.get('current_password').invalid && form.get('current_password').dirty}">
                                <span class="text-danger" *ngIf="form.get('current_password').invalid && form.get('current_password').dirty">{{'share.required' |translate}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="text-semibold mlmd">Enter new password</label>
                                <input type="password" class="form-control input-md"  formControlName="new_password" placeholder="Password" [ngClass]="{'has-error':form.get('new_password').invalid && form.get('new_password').dirty}">
                                <span class="text-danger" *ngIf="form.get('new_password').invalid && form.get('new_password').dirty">{{'share.required' |translate}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="text-semibold mlmd">Re-enter new password</label>
                                <input type="password" class="form-control input-md"  formControlName="new_password_confirmation" placeholder="Password" [ngClass]="{'has-error':form.get('new_password_confirmation').invalid && form.get('new_password_confirmation').dirty}">
                                <span class="text-danger" *ngIf="form.get('new_password_confirmation').invalid && form.get('new_password_confirmation').dirty">{{'share.required' |translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer margin-top-20 d-flex">
                                <button type="button" class="save" (click)="save()">
                           {{'share.Save' | translate}}
                       </button>
                                <button type="button" class="closeBtn" data-dismiss="modal" (click)="myModel.hide()"> {{'share.Close' | translate}}</button>
                            </div>
                      
                    </div>

            </form>
        </div>
        </div>
        </div>
