.save {
    background-color: #00a9f4 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #00a9f4 !important;
    padding: 10px;
}

.closeBtn {
    background-color: #888888 !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #888888 !important;
    padding: 10px;
}
.save:hover {
    background-color: rgba(51, 103, 255, 0.8) !important;
    color: #fff !important;
    border-color: rgba(51, 103, 255, 0.8);
}
.closeBtn:hover {
    background-color: #666666 !important;
    color: #fff !important;
    border-color: #666666;
}
