.title {
    background: skyblue;
    width: 200px;
    font-weight: bold;
}

.availabelTimes {
    padding: 20px;
}
.gray {
    background-image: none !important;
    background-color: gray !important;
}
.pointer{
    cursor: pointer;
}
