.addClient{
 width:auto;
 float: right;
 background-color: #00A9F4  !important;
 color:   #ffffff!important;
 border-color: #00A9F4   !important;
}
.addClient:hover{
 background-color: #8F9CB3 !important;
 color: #fff !important;
 border-color: #8F9CB3 !important;
}
.clientsTable{
 border-radius: 10px;
}